<!-- Site navigation -->
            <nav class="site-nav pull-right">
                <div class="trigger">
                    <a class="page-link" href="{{pages.get('/about').url}}">
                        <span>{</span> About
                        <span>}</span>
                    </a>
                    <a class="page-link" href="{{pages.get('/notes').url}}">
                        <span>{</span> Journals
                        <span>}</span>
                    </a>
               
                    <a class="page-link" target="_blank" href="https://ng.linkedin.com/in/okeowo-aderemi-82b75730">
                        <span>{</span> Linkedin
                        <span>}</span>
                    </a>
                    <a class="twitter page-link" target="_blank" href="https://twitter.com/qtguru">
                        <span>{</span> Twitter
                        <span>}</span>

                    </a>
                </div>
            </nav>